* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  color: #9f9ea5;
  line-height: 1.4;
}
h2 {
  font-size: 2rem;
}
.header {
  background-image: url(images/desktop/image-header.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 100vh;
  color: #fff;
}
.header h1 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 15px;
}
.header .menu {
  padding: 2vh 2vw 10vh 2vw;
  display: flex;
  justify-content: space-between;
}
.header .arrow {
  max-width: 100%;
  display: inline-block;
  margin-top: 10vh;
}
.menu .logo {
  width: 124px;
  height: 24px;
  align-self: center;
}
.menu ul {
  display: flex;
  list-style: none;
  width: 50%;
  justify-content: space-between;
  padding-inline-start: 0;
}
.menu ul li a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
}
.menu ul li a:not(.btn-contact):hover {
  text-decoration: underline;
}
.menu .hamburger {
  display: none;
}
.btn-contact {
  background: #fff;
  color: hsl(212, 27%, 19%) !important;
  text-transform: uppercase;
  padding: 12px 20px;
  border-radius: 30px;
  transition: all 0.3s;
}
.btn-contact:hover,
.btn-contact:active {
  background: #6fcfff;
  color: #fff !important;
}
.squares {
  width: 100%;
}
.squares .transform,
.squares .stand-out {
  width: 100%;
  display: flex;
}
div .square-text {
  padding: 0 7em;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div .square-text a {
  width: fit-content;
}
.transform .square-text,
.stand-out .square-text {
  width: 50%;
}
.transform img,
.stand-out img {
  width: 50%;
}
.transform div h2,
.stand-out div h2 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: hsl(212, 27%, 19%) !important;
  margin-bottom: 1.5em;
}
.transform div a,
.stand-out div a {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: hsl(212, 27%, 19%) !important;
  margin-top: 1.5em;
  position: relative;
  padding: 0 0.4em;
}
.transform div a::before {
  content: "";
  background: #fff0b7;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-radius: 30px;
  height: 8px;
  z-index: -1;
  transition: all 0.3s;
}
.stand-out div a::before {
  content: "";
  background: #fed8d1;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-radius: 30px;
  height: 8px;
  z-index: -1;
  transition: all 0.3s;
}
.transform div a:hover::before {
  background: #fcd400;
}
.stand-out div a:hover::before {
  background: #fe7767;
}
.square-text .learn-more {
  width: 100%;
  border-bottom: 4px solid red;
}
div h3 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: hsl(212, 27%, 19%) !important;
}
.squares .fruits {
  color: hsl(212, 27%, 19%) !important;
  display: flex;
  height: 38.888888888888886em;
  text-align: center;
}
.fruits .cherry {
  background-image: url(images/desktop/image-graphic-design.jpg);
  background-size: cover;
  background-position: center;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 3em;
}
.fruits .clementine {
  background-image: url(images/desktop/image-photography.jpg);
  width: 50vw;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 3em;
}
.fruits .cherry p,
.fruits .clementine p {
  width: 55%;
  align-self: center;
}
.testimonials {
  padding: 7em 5em;
}
.testimonials .testimonials-container {
  display: flex;
  justify-content: space-between;
}
.testimonials h3 {
  text-align: center;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  margin-bottom: 4em;
}
.testimonials-container .persona {
  text-align: center;
  width: 32%;
}
.testimonials-container .persona img {
  border-radius: 100%;
}
.testimonials-container .persona .persona-name {
  font-family: "Fraunces", serif;
  font-weight: 700;
  color: hsl(212, 27%, 19%);
  padding-top: 2em;
}
.testimonials-container .persona span {
  display: block;
}
.testimonials-container .persona .persona-job {
  color: #b3b3b3;
}
.mobile-img {
  display: none;
}
.desktop-img {
  display: flex;
  width: 100%;
}
.desktop-img img {
  width: 25%;
}
.footer {
  background: #90d4c5;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3em 0 0 0;
}
.footer .main-footer {
  width: 20%;
}
.footer ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.footer a {
  text-decoration: none;
}
.main-footer .socials {
  display: flex;
  justify-content: space-around;
  padding-top: 2em;
}
.main-footer .bottom-nav ul li a {
  color: #2a7262;
}
.main-footer .bottom-nav ul li a:hover {
  color: #fff;
}
.socials svg {
  cursor: pointer;
  transition: all 0.3s;
}
.socials svg path:hover {
  fill: #fff;
}
.attribution {
  font-size: 11px;
  color: black;
  padding: 5em 0 1em 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.attribution a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .header {
    background-image: url(images/mobile/image-header.jpg);
    background-size: cover;
    background-position: center;
  }
  .header .menu {
    padding: 5vh 5vw 25vh 5vw;
  }
  .header h1 {
    letter-spacing: 0.2em;
    width: 100%;
  }
  .menu ul {
    display: none;
  }
  .menu .hamburger {
    display: block;
  }
  .squares .transform,
  .squares .stand-out,
  .squares .fruits {
    display: flex;
    flex-direction: column;
  }
  .squares .transform {
    flex-direction: column-reverse;
  }
  .transform .square-text,
  .stand-out .square-text {
    width: 100%;
  }
  .transform img,
  .stand-out img {
    width: 100%;
  }
  .transform div a,
  .stand-out div a {
    align-self: center;
  }
  .squares .fruits {
    height: auto;
  }
  div .square-text {
    padding: 2em 1.5em 3em 1.5em;
    text-align: center;
    padding: 10%;
  }
  div h3 {
    margin-top: 15em;
  }
  .fruits .cherry {
    background-image: url(images/mobile/image-graphic-design.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    padding: 0 2em 2em 2em;
  }
  .fruits .clementine {
    background-image: url(images/mobile/image-photography.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    padding: 0 2em 2em 2em;
  }
  .fruits .cherry p,
  .fruits .clementine p {
    width: 100%;
  }
  .testimonials {
    display: block;
    padding: 2em 5em 4em 5em;
    text-align: center;
  }
  .testimonials .testimonials-container {
    display: block;
  }
  .testimonials h3 {
    padding-bottom: 2em;
  }
  .testimonials-container .persona {
    margin-bottom: 5em;
    color: #7a7c7d;
    line-height: 1.7;
    width: 100%;
  }
  .testimonials-container .persona:last-child {
    margin-bottom: 0;
  }
  .testimonials-container .persona .persona-name {
    margin-top: 1.5em;
  }
  .desktop-img {
    display: none;
  }
  .mobile-img {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .mobile-img .line {
    width: 100%;
    display: flex;
  }
  .mobile-img .line img {
    width: 50%;
  }
  .footer .main-footer {
    width: 70%;
  }
}

@media screen and (min-width: 1025px) {
  .menu ul {
    width: 35%;
  }
  .footer .main-footer {
    width: 25%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .footer .main-footer {
    width: 26%;
  }
}


@media screen and (min-width: 769px) and (max-width: 1245px) {
  .transform img,
  .stand-out img {
    height: 100%;
  }
  .transform div h2,
  .stand-out div h2 {
    margin-bottom: 0.5em;
  }
  div .square-text * {
    margin: 0;
  }
  div .square-text {
    padding: 0 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  div .square-text a {
    width: fit-content;
    margin-top: 1em;
  }
}
