* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Barlow", sans-serif;
}

.header {
  background-image: url(images/desktop/image-header.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 100vh;
  color: #fff;
}

.header h1 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 15px;
}

.header .menu {
  padding: 2vh 2vw 10vh 2vw;
  display: flex;
  justify-content: space-between;
}

.header .arrow {
  max-width: 100%;
  display: inline-block;
  margin-top: 10vh;
}

.menu .logo {
  width: 124px;
  height: 24px;
  align-self: center;
}

.menu ul {
  display: flex;
  list-style: none;
  width: 40vw;
  justify-content: space-evenly;
}

.menu ul li a {
  text-decoration: none;
  color: inherit;
}

.menu .hamburger {
  display: none;
}

.btn-contact {
  background: #fff;
  color: hsl(212, 27%, 19%) !important;
  text-transform: uppercase;
  padding: 12px 20px;
  border-radius: 30px;
  transition: all 0.3s;
}

.btn-contact:hover {
  background: #6fcfff;
  color: #fff !important;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 5px;
  width: 100%;
  margin: 0 auto;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 600px) {
  .header {
    background-image: url(images/mobile/image-header.jpg);
    background-size: cover;
    background-position: center;
  }

  .header .menu {
    padding: 5vh 5vw 25vh 5vw;
  }

  .header h1 {
  letter-spacing: .2em;
  width: 100%;
}

  .menu ul {
    display: none;
  }

  .menu .hamburger {
    display: block;
  }
}
