* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  color: #9f9ea5;
  line-height: 1.4;
}
.header {
  background-image: url(images/desktop/image-header.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 100vh;
  color: #fff;
}
.header h1 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 15px;
}
.header .menu {
  padding: 2vh 2vw 10vh 2vw;
  display: flex;
  justify-content: space-between;
}
.header .arrow {
  max-width: 100%;
  display: inline-block;
  margin-top: 10vh;
}
.menu .logo {
  width: 124px;
  height: 24px;
  align-self: center;
}
.menu ul {
  display: flex;
  list-style: none;
  width: 40vw;
  justify-content: space-evenly;
}
.menu ul li a {
  text-decoration: none;
  color: inherit;
}
.menu .hamburger {
  display: none;
}
.btn-contact {
  background: #fff;
  color: hsl(212, 27%, 19%) !important;
  text-transform: uppercase;
  padding: 12px 20px;
  border-radius: 30px;
  transition: all 0.3s;
}
.btn-contact:hover,
.btn-contact:active {
  background: #6fcfff;
  color: #fff !important;
}
.squares {
  width: 100%;
}
.squares .transform,
.squares .stand-out {
  width: 100%;
  display: flex;
}
div .square-text {
  padding: 8em 8em 0 8em;
}
.transform div h2,
.stand-out div h2 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: hsl(212, 27%, 19%) !important;
  margin-bottom: 1.5em;
}
.transform div a,
.stand-out div a {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: hsl(212, 27%, 19%) !important;
  margin-top: 1.5em;
  position: relative;
  padding: 0 0.4em;
}
.transform div a::before {
  content: "";
  background: #fff0b7;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-radius: 30px;
  height: 8px;
  z-index: -1;
  transition: all 0.3s;
}
.stand-out div a::before {
  content: "";
  background: #fed8d1;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-radius: 30px;
  height: 8px;
  z-index: -1;
  transition: all 0.3s;
}
.transform div a:hover::before {
  background: #fcd400;
}
.stand-out div a:hover::before {
  background: #fe7767;
}
.square-text .learn-more {
  width: 100%;
  border-bottom: 4px solid red;
}
div h3 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: hsl(212, 27%, 19%) !important;
}
.squares .fruits {
  color: hsl(212, 27%, 19%) !important;
  display: flex;
  height: 38.888888888888886em;
  text-align: center;
}
.fruits .cherry {
  background-image: url(images/desktop/image-graphic-design.jpg);
  background-size: cover;
  background-position: center;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 3em;
}
.fruits .clementine {
  background-image: url(images/desktop/image-photography.jpg);
  width: 50vw;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 3em;
}
.fruits .cherry p,
.fruits .clementine p {
  width: 55%;
  align-self: center;
}
.testimonials {
  padding: 7em 5em;
}
.testimonials .testimonials-container {
  display: flex;
  justify-content: space-between;
}
.testimonials h3 {
  text-align: center;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  margin-bottom: 4em;
}
.testimonials-container .persona {
  text-align: center;
  width: 32%;
}
.testimonials-container .persona img {
  border-radius: 100%;
}
.testimonials-container .persona .persona-name {
  font-family: "Fraunces", serif;
  font-weight: 700;
  color: hsl(212, 27%, 19%);
  padding-top: 2em;
}
.testimonials-container .persona span {
  display: block;
}
.testimonials-container .persona .persona-job {
  color: #b3b3b3;
}
.attribution {
  font-size: 11px;
  text-align: center;
  width: 100%;
  display: inline-block;
  margin-bottom: 5px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 600px) {
  .header {
    background-image: url(images/mobile/image-header.jpg);
    background-size: cover;
    background-position: center;
  }
  .header .menu {
    padding: 5vh 5vw 25vh 5vw;
  }
  .header h1 {
    letter-spacing: 0.2em;
    width: 100%;
  }
  .menu ul {
    display: none;
  }
  .menu .hamburger {
    display: block;
  }
  .squares .transform,
  .squares .stand-out,
  .squares .fruits {
    display: flex;
    flex-direction: column;
  }
  .squares .transform {
    flex-direction: column-reverse;
  }
  .squares .fruits {
    height: auto;
  }
  div .square-text {
    padding: 2em 1.5em 3em 1.5em;
    text-align: center;
  }
  div h3 {
    margin-top: 15em;
  }
  .fruits .cherry {
    background-image: url(images/mobile/image-graphic-design.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    padding: 0 2em 2em 2em;
  }
  .fruits .clementine {
    background-image: url(images/mobile/image-photography.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    padding: 0 2em 2em 2em;
  }
  .fruits .cherry p,
  .fruits .clementine p {
    width: 100%;
  }
  .testimonials {
    display: block;
    padding: 2em 2em;
    text-align: center;
  }
  .testimonials .testimonials-container {
    display: block;
  }
  .testimonials h3 {
    padding-bottom: 2em;
  }
  .testimonials-container .persona {
    margin-bottom: 5em;
    color: #7a7c7d;
    line-height: 1.7;
    width: 100%;
  }
  .testimonials-container .persona:last-child {
    margin-bottom: 0;
  }
  .testimonials-container .persona .persona-name {
    margin-top: 1.5em;
  }
}
